@import "../fonts/geared/stylesheet.css";
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic|Source+Code+Pro";

$lightgray: hsl(170, 5%, 85%);
$medgray: hsla(170, 5%, 65%, 0.4);

@mixin iebox {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


body {
  background:url(../img/gray_jean.png);
  font-family: "Source Sans Pro",  sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Geared Slab", "Source Sans Pro", sans-serif;
}

.left {
  float:left;
}

.right {
  float:right;
}


.wrap {
  @include iebox;

  background:white;
  width:800px;
  margin:50px auto;
  padding:0 20px;

  border:1px solid $lightgray;
  box-shadow:3px 3px 3px $medgray;
}

header {
  padding:25px 0;
  clear:both;

  display:table;
  width:760px;
  margin-left:-20px;
  padding:20px;

  border-bottom:1px solid $lightgray;

  h1 {
    float:left;
    //width:65%;
    margin:0;
    font-size:40px;
    height:50px;
    line-height:50px;

    //text-align:center;
  }


  .user {
    height:50px;
    float:right;
    width:35%;

    p {
      margin:0;
      text-align:right;
      line-height:25px;
    }

    img.right {
      height:50px; width:50px;
      -moz-border-radius:50%;
      border-radius:50%;
      margin-left:20px;
    }
  }

  .login {
    float:right;
    width:25%;
    height:50px;

    input {
      @include iebox;

      width:100%;
      height:23px;
      margin-bottom:2px;
      border:0;
      border-bottom:1px solid $lightgray;
      padding:0 2px;
    }
  }
}

footer {
  clear:both;
  border-top:1px solid $lightgray;

  width:100%;
  margin-left:-20px;
  margin-top:20px;
  padding:20px;

  p {
    text-align:center;
    font-size:.8em;
    color: darken($lightgray, 20%);
  }
}