@import url(../fonts/bitter/stylesheet.css);
@import url(../fonts/serfifbeta/stylesheet.css);
body {
  font-family: "Serif12", "PT Serif", "Droid Serif", serif;
  font-size: 18px;
  line-height: 1.5em; }

h1 {
  font-size: 3em;
  line-height: 1em; }

h2 {
  font-size: 2em; }

.wrap {
  width: 800px;
  margin: 0 auto; }
