@import url(../fonts/bitter/stylesheet.css);
@import url(../fonts/serfifbeta/stylesheet.css);
@import url(../fonts/sourcecodepro/stylesheet.css);
body {
  font-family: "serif12", "PT Serif", "Droid Serif", serif;
  font-size: 18px;
  line-height: 1.5em; }

h1, h2 {
  font-family: "serif72", "serif12", "PT Serif", "Droid Serif", serif; }

h1 {
  font-size: 3em;
  line-height: 1em; }

h2 {
  font-size: 2em; }

.wrap {
  width: 800px;
  margin: 0 auto; }

.login-page {
  width: 340px;
  margin: 4em auto 0; }
  .login-page h1 {
    font-weight: 900;
    text-align: center; }
  .login-page input {
    width: 150px;
    margin-top: 1em; }
  .login-page img {
    border-radius: 50%;
    border: 5px solid black;
    margin-bottom: 2em;
    float: left; }
  .login-page #login {
    margin-top: 35px;
    float: right;
    width: 160px; }

.admin .wrap {
  margin-top: 3em; }

.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 2em;
  width: 100%;
  padding: 0;
  line-height: 2em;
  vertical-align: center; }
  .header-bar ul {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: white; }
    .header-bar ul a {
      color: white; }
    .header-bar ul li {
      float: left;
      padding: 0 10px;
      border-left: 1px solid white; }
      .header-bar ul li:last-child {
        border-right: 1px solid white; }
